.product-count-button{
    color: dodgerblue;
    width: 30px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.product-count-input[type=number]::-webkit-inner-spin-button, 
.product-count-input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
.product-count-input{
    width:24px;
    text-align: center;
}
.product-count-button.disabled{
    background: #aaa;
    opacity:0.4;
}
.product-delete-button{
    color: #0094D4;
    background:none; 
    width:30px;
    height:30px;
}