.aio-form {
  font-size: 12px;
  color: #888;
  background: #eee;
}

.aio-form-header {
  background: #ddd;
  padding: 0 12px;
  height: 48px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.aio-form-body {
  padding: 12px 24px;
}

.aio-form-title {
  font-size: 110%;
}

.aio-form-subtitle {
  font-size: 90%;
  opacity: 0.7;
}

.aio-form .aio-button-tag {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.aio-form-input {
  border: 1px solid #d8d8d8;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  display: flex;
  height: 36px;
  padding: 0 8px;
  align-items: center;
  box-sizing: border-box;
  font-family: inherit;
  outline-color: rgb(151, 190, 219);
  overflow: hidden;

}

.aio-form-input:not(.aio-form-input-textarea) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.aio-form-input.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.aio-form-input-text,
.aio-form-input-number,
.aio-form-input-select,
.aio-form-input-datepicker {
  box-sizing: border-box;
  width: 100% !important;
}

.aio-form-input-textarea {
  padding: 8px;
  min-height: 60px;
  resize: vertical;
  overflow-y: auto;
}

.aio-form-input-checkbox {
  display: flex;
  align-items: center;
}

.aio-form-item {
  position: relative;
}

.aio-form-row {
  margin-bottom: 24px;
}

.aio-form .r-range-slider {
  padding: 0 24px;
}

.rvd-check {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rvd-check-inner {
  width: 14px;
  height: 14px;

}

.rvd-check-inner.checked {
  background: #ddd;
}

.rvd-check-gap {
  width: 6px;
}

.aio-form-input-checklist,
.aio-form-input-radio {
  height: unset !important;
  padding: 0 !important;
  min-height: unset;
}

.aio-form-input-file {
  height: unset;
}

.aio-form-input-checklist-item {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;

}

.aio-form-input-select,
.aio-form-input-multiselect {
  color: inherit;
}

.aio-form-input-radio .aio-form-input {
  border: none;
}

.aio-form-input-checklist .aio-form-input {
  border: none;
}

.aio-form-input-radio.disabled,
.aio-form-input-select.disabled,
.aio-form-input-multiselect.disabled {
}

.aio-form-input-table {
  height: unset !important;
  color: inherit;
}

.aio-form .aio-table {
  width: 100%;
  height: unset;
  font-size: inherit;
  background: #fff;

}

.aio-form .aio-table-body {
  padding: 0;
  flex: unset;

}
.aio-form .table-header {
  padding: 0;
  flex: unset;
  background:none;

}
.aio-form-footer {
  height: 48px;
  padding: 0 12px;
  background: #ddd;
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}

.aio-form-error {
  color: red;
  font-size: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  top: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.aio-form-footer-button {
  background: dodgerblue;
  border: none;
  color: #fff;
  height: 36px;
  padding: 0 12px;
  border-radius: 4px;
  font-family: inherit;
}

.aio-form-footer-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.aio-form-table-add {
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.aio-form .aio-table .aio-table-cell {
  border-width: 0px 0px 1px 0px;
  border-radius: 0;
  background: none;
}

.aio-form .aio-table .aio-table-title {
  border-width: 1px 0px 1px 0px;
  border-radius: 0;
  font-weight: bold;
  background: none;
}

.aio-form-input-table .aio-table-title {
  height: 28px;
  box-shadow: none;

}

.aio-form-affix,
.aio-form-prefix {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  border: 1px solid #d8d8d8;
  height: 100%;
  box-sizing: border-box;
}

.aio-form-affix {
  color: #fff;
  background: #bbb;
  border: 1px solid #d8d8d8;
  border-radius: 0 4px 4px 0;
}

.aio-form-prefix {
  color: #fff;
  background: #bbb;
  border: 1px solid #d8d8d8;
  border-radius: 4px 0 0 4px;
}

.aio-form-affix.rtl {
  border-radius: 4px 0 0 4px;
}

.aio-form-input.has-affix.ltr {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.aio-form-label {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.aio-form-input.has-affix.rtl {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.aio-form-affix.rtl {
  border-radius: 0 4px 4px 0;
}

.aio-form-input.has-prefix.ltr {
  border-left-width: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.aio-form-input.has-prefix.rtl {
  border-right-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.aio-form-inline-error {
  background: red;
  color: #fff;
}

.aio-form-input-table-add {
  border: none;
  width: 100%;
  height: 100%;
}

.aio-form .aio-table-toolbar {
  height: 36px;
}

.aio-form-group {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
  height: 36px;
  padding: 0 12px;
}

.aio-form-group-icon {
  color: #888;
  background: #fff;
  border-radius: 100%;
  width: 16px;
  height: 16px;
}

.aio-form-input-message {
  padding: 12px;
}

.file-manager {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.add-file {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0 12px;
  height: 33px;
  cursor: pointer;
  color: dodgerblue;
}

.add-file-icon {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-file input {
  display: none;
}

.file-preview {
  background: dodgerblue;
  color: #fff;
  width: fit-content;
  margin: 3px;
  font-size: 11px;
  flex-grow: 0;
}

.file-preview-name {
  font-weight: bold;

}

.file-preview-size {
  font-size: 75%;
  opacity: 0.7;
}

.aio-form-input:focus {
  border-color: dodgerblue;

}

.file-preview-preview {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100000000000000;
  background: rgba(0, 0, 0, .5)
}

.aio-form-tabs {
  background: rgba(0, 0, 0, .1);
  padding: 12px 3px;
  font-size: 20px;
}

.aio-form-tab {
  margin-bottom: 6px;
}

.aio-form-tab.active {
  color: dodgerblue;
}

.aio-form-input-color {
  padding: 0 !important;
}