.aio-log{
    height:100%;
    direction:ltr;
}
.aio-log-items{
    background: dodgerblue;
    overflow-y: auto;
    padding:6px;
}
.aio-log-item{
    border:1px solid #ddd;
    background:#fff;
    padding:6px;
    border-radius:6px;
    margin-bottom:6px;
}
.aio-log-item-body{
    text-align:left;
    overflow:auto;
    padding:12px;
}