.aio-service-alert-container {
    position: fixed;
    z-index: 1000000000000000000000000000000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;

}

.aio-service-alert {
    background: #fff;
    width: 90%;
    max-width: 360px;
    border-radius: 12px;
    box-shadow: 5px 8px 11px 0 rgb(0 0 0 / 17%);
}

.aio-service-alert-header {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

.aio-service-alert-body {
    padding: 0 12px;
}

.aio-service-alert-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.aio-service-alert-subtext {
    font-size: 12px;

}

.aio-service-alert-footer {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.aio-service-alert-footer button {
    border: none;
    font-family: inherit;
    background: dodgerblue;
    color: #fff;
    font-size: 14px;
    padding: 3px 12px;
    border-radius: 3px;
}

.aio-service-loading {
    z-index: 100000000000000000000000000000;
    position: absolute;
    direction: ltr;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
}

.aio-service-loading-0 {
    border-radius: 12px;
    height: 72px;
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    opacity:0;
    animation-name:aioserviceloadingopacity;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.aio-service-loading-1 {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-service-loading-2 {
    width: 4px;
    height: 36px;
    background: rgb(255, 255, 255);
    margin: 0px 1.5px;
    border-radius: 0px;
}
@keyframes aioserviceloading {
    0%,
    40%,
    100% {
     transform: scaleY(0.4);
    }
    20% {
     transform: scaleY(1.0);
    }
   }
   @keyframes aioserviceloadingopacity {
    0% {
        opacity: 0;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
   }