.rvd{
  display: flex;
  position: relative;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  flex-shrink: 0;
}
.rvd-root{
  flex:1;
}
.rvd-gap {
  flex-shrink: 0;
}

.rvd-gap:last-child {
  display: none;
}

.rvd-justify {
  justify-content: center;
}

.rvd-align {
  align-items: center;
}
.rvd-row {
  flex-direction: row;
}
.rvd-pointer{
  cursor:pointer;
}
.rvd-column {
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .rvd-hide-xs {
    display: none !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .rvd-hide-sm {
    display: none !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .rvd-hide-md {
    display: none !important;
  }
}

@media screen and (min-width: 1200px) {
  .rvd-hide-lg {
    display: none !important;
  }
}

/* custom scrollbar */
.rvd::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.rvd::-webkit-scrollbar-track {
  background-color: transparent;
}

.rvd::-webkit-scrollbar-thumb {
  background-color: #cdd4e0;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.rvd::-webkit-scrollbar-thumb {
  background-color: #b1b9ca;
}

.rvd::-webkit-scrollbar-thumb:hover {
  background-color: #6f7888;
}
.p-0{padding:0px;}
.p-3{padding:3px;}
.p-6{padding:6px;}
.p-8{padding:8px;}
.p-12{padding:12px;}
.p-16{padding:16px;}
.p-24{padding:24px;}
.p-36{padding:36px;}
.p-48{padding:48px;}
.p-60{padding:60px;}
.p-72{padding:72px;}

.p-l-0,.rvd-ltr .p-s-0,.rvd-rtl .p-e-0{padding-left:0px;}
.p-l-3,.rvd-ltr .p-s-3,.rvd-rtl .p-e-3{padding-left:3px;}
.p-l-6,.rvd-ltr .p-s-6,.rvd-rtl .p-e-6{padding-left:6px;}
.p-l-8,.rvd-ltr .p-s-8,.rvd-rtl .p-e-8{padding-left:8px;}
.p-l-12,.rvd-ltr .p-s-12,.rvd-rtl .p-e-12{padding-left:12px;}
.p-l-16,.rvd-ltr .p-s-16,.rvd-rtl .p-e-16{padding-left:16px;}
.p-l-24,.rvd-ltr .p-s-24,.rvd-rtl .p-e-24{padding-left:24px;}
.p-l-36,.rvd-ltr .p-s-36,.rvd-rtl .p-e-36{padding-left:36px;}
.p-l-48,.rvd-ltr .p-s-48,.rvd-rtl .p-e-48{padding-left:48px;}
.p-l-60,.rvd-ltr .p-s-60,.rvd-rtl .p-e-60{padding-left:60px;}
.p-l-72,.rvd-ltr .p-s-72,.rvd-rtl .p-e-72{padding-left:72px;}

.p-r-0,.rvd-ltr .p-e-0,.rvd-rtl .p-s-0{padding-right:0px;}
.p-r-3,.rvd-ltr .p-e-3,.rvd-rtl .p-s-3{padding-right:3px;}
.p-r-6,.rvd-ltr .p-e-6,.rvd-rtl .p-s-6{padding-right:6px;}
.p-r-8,.rvd-ltr .p-e-8,.rvd-rtl .p-s-8{padding-right:8px;}
.p-r-12,.rvd-ltr .p-e-12,.rvd-rtl .p-s-12{padding-right:12px;}
.p-r-16,.rvd-ltr .p-e-16,.rvd-rtl .p-s-16{padding-right:16px;}
.p-r-24,.rvd-ltr .p-e-24,.rvd-rtl .p-s-24{padding-right:24px;}
.p-r-36,.rvd-ltr .p-e-36,.rvd-rtl .p-s-36{padding-right:36px;}
.p-r-48,.rvd-ltr .p-e-48,.rvd-rtl .p-s-48{padding-right:48px;}
.p-r-60,.rvd-ltr .p-e-60,.rvd-rtl .p-s-60{padding-right:60px;}
.p-r-72,.rvd-ltr .p-e-72,.rvd-rtl .p-s-72{padding-right:72px;}

.p-t-0{padding-top:0px;}
.p-t-3{padding-top:3px;}
.p-t-6{padding-top:6px;}
.p-t-8{padding-top:8px;}
.p-t-12{padding-top:12px;}
.p-t-16{padding-top:16px;}
.p-t-24{padding-top:24px;}
.p-t-36{padding-top:36px;}
.p-t-48{padding-top:48px;}
.p-t-60{padding-top:60px;}
.p-t-72{padding-top:72px;}

.p-b-0{padding-bottom:0px;}
.p-b-3{padding-bottom:3px;}
.p-b-6{padding-bottom:6px;}
.p-b-8{padding-bottom:8px;}
.p-b-12{padding-bottom:12px;}
.p-b-16{padding-bottom:16px;}
.p-b-24{padding-bottom:24px;}
.p-b-36{padding-bottom:36px;}
.p-b-48{padding-bottom:48px;}
.p-b-60{padding-bottom:60px;}
.p-b-72{padding-bottom:72px;}

.p-h-3{padding-left:3px; padding-right:3px;}
.p-h-6{padding-left:6px; padding-right:6px;}
.p-h-8{padding-left:8px; padding-right:8px;}
.p-h-12{padding-left:12px; padding-right:12px;}
.p-h-16{padding-left:16px; padding-right:16px;}
.p-h-24{padding-left:24px; padding-right:24px;}
.p-h-36{padding-left:36px; padding-right:36px;}
.p-h-48{padding-left:48px; padding-right:48px;}
.p-h-60{padding-left:60px; padding-right:60px;}
.p-h-72{padding-left:72px; padding-right:72px;}

.p-v-3{padding-top:3px; padding-bottom:3px;}
.p-v-6{padding-top:6px; padding-bottom:6px;}
.p-v-8{padding-top:8px; padding-bottom:8px;}
.p-v-12{padding-top:12px; padding-bottom:12px;}
.p-v-16{padding-top:16px; padding-bottom:16px;}
.p-v-24{padding-top:24px; padding-bottom:24px;}
.p-v-36{padding-top:36px; padding-bottom:36px;}
.p-v-48{padding-top:48px; padding-bottom:48px;}
.p-v-60{padding-top:60px; padding-bottom:60px;}
.p-v-72{padding-top:72px; padding-bottom:72px;}

.m-l-0,.rvd-ltr .m-s-0,.rvd-rtl .m-e-0{margin-left:0px;}
.m-l-3,.rvd-ltr .m-s-3,.rvd-rtl .m-e-3{margin-left:3px;}
.m-l-6,.rvd-ltr .m-s-6,.rvd-rtl .m-e-6{margin-left:6px;}
.m-l-8,.rvd-ltr .m-s-8,.rvd-rtl .m-e-8{margin-left:8px;}
.m-l-12,.rvd-ltr .m-s-12,.rvd-rtl .m-e-12{margin-left:12px;}
.m-l-16,.rvd-ltr .m-s-16,.rvd-rtl .m-e-16{margin-left:16px;}
.m-l-24,.rvd-ltr .m-s-24,.rvd-rtl .m-e-24{margin-left:24px;}
.m-l-36,.rvd-ltr .m-s-36,.rvd-rtl .m-e-36{margin-left:36px;}
.m-l-48,.rvd-ltr .m-s-48,.rvd-rtl .m-e-48{margin-left:48px;}
.m-l-60,.rvd-ltr .m-s-60,.rvd-rtl .m-e-60{margin-left:60px;}
.m-l-72,.rvd-ltr .m-s-72,.rvd-rtl .m-e-72{margin-left:72px;}

.m-r-0,.rvd-ltr .m-e-0,.rvd-rtl .m-s-0{margin-right:0px;}
.m-r-3,.rvd-ltr .m-e-3,.rvd-rtl .m-s-3{margin-right:3px;}
.m-r-6,.rvd-ltr .m-e-6,.rvd-rtl .m-s-6{margin-right:6px;}
.m-r-8,.rvd-ltr .m-e-8,.rvd-rtl .m-s-8{margin-right:8px;}
.m-r-12,.rvd-ltr .m-e-12,.rvd-rtl .m-s-12{margin-right:12px;}
.m-r-16,.rvd-ltr .m-e-16,.rvd-rtl .m-s-16{margin-right:16px;}
.m-r-24,.rvd-ltr .m-e-24,.rvd-rtl .m-s-24{margin-right:24px;}
.m-r-36,.rvd-ltr .m-e-36,.rvd-rtl .m-s-36{margin-right:36px;}
.m-r-48,.rvd-ltr .m-e-48,.rvd-rtl .m-s-48{margin-right:48px;}
.m-r-60,.rvd-ltr .m-e-60,.rvd-rtl .m-s-60{margin-right:60px;}
.m-r-72,.rvd-ltr .m-e-72,.rvd-rtl .m-s-72{margin-right:72px;}

.m-t-0{margin-top:0px;}
.m-t-3{margin-top:3px;}
.m-t-6{margin-top:6px;}
.m-t-8{margin-top:8px;}
.m-t-12{margin-top:12px;}
.m-t-16{margin-top:16px;}
.m-t-24{margin-top:24px;}
.m-t-36{margin-top:36px;}
.m-t-48{margin-top:48px;}
.m-t-60{margin-top:60px;}
.m-t-72{margin-top:72px;}

.m-b-0{margin-bottom:0px;}
.m-b-3{margin-bottom:3px;}
.m-b-6{margin-bottom:6px;}
.m-b-8{margin-bottom:8px;}
.m-b-12{margin-bottom:12px;}
.m-b-16{margin-bottom:16px;}
.m-b-24{margin-bottom:24px;}
.m-b-36{margin-bottom:36px;}
.m-b-48{margin-bottom:48px;}
.m-b-60{margin-bottom:60px;}
.m-b-72{margin-bottom:72px;}

.m-h-3{margin-left:3px; margin-right:3px;}
.m-h-6{margin-left:6px; margin-right:6px;}
.m-h-8{margin-left:8px; margin-right:8px;}
.m-h-12{margin-left:12px; margin-right:12px;}
.m-h-16{margin-left:16px; margin-right:16px;}
.m-h-24{margin-left:24px; margin-right:24px;}
.m-h-36{margin-left:36px; margin-right:36px;}
.m-h-48{margin-left:48px; margin-right:48px;}
.m-h-60{margin-left:60px; margin-right:60px;}
.m-h-72{margin-left:72px; margin-right:72px;}

.m-v-3{margin-top:3px; margin-bottom:3px;}
.m-v-6{margin-top:6px; margin-bottom:6px;}
.m-v-8{margin-top:8px; margin-bottom:8px;}
.m-v-12{margin-top:12px; margin-bottom:12px;}
.m-v-16{margin-top:16px; margin-bottom:16px;}
.m-v-24{margin-top:24px; margin-bottom:24px;}
.m-v-36{margin-top:36px; margin-bottom:36px;}
.m-v-48{margin-top:48px; margin-bottom:48px;}
.m-v-60{margin-top:60px; margin-bottom:60px;}
.m-v-72{margin-top:72px; margin-bottom:72px;}

.br-0{border-radius:0px;}
.br-4{border-radius:4px;}
.br-6{border-radius:6px;}
.br-8{border-radius:8px;}
.br-12{border-radius:12px;}
.br-16{border-radius:16px;}
.br-24{border-radius:24px;}
.br-36{border-radius:36px;}
.br-100{border-radius:100%;}
.br-b-0{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.br-t-0{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.br-l-0{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.br-r-0{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fs-8{font-size:8px;}
.fs-9{font-size:9px;}
.fs-10{font-size:10px;}
.fs-12{font-size:12px;}
.fs-14{font-size:14px;}
.fs-16{font-size:16px;}
.fs-18{font-size:18px;}
.fs-20{font-size:20px;}
.fs-24{font-size:24px;}
.fs-28{font-size:28px;}
.fs-32{font-size:32px;}
.fs-36{font-size:36px;}
.fs-48{font-size:48px;}

.h-1{height:1px;}
.h-2{height:2px;}
.h-3{height:3px;}
.h-4{height:4px;}
.h-6{height:6px;}
.h-8{height:8px;}
.h-12{height:12px;}
.h-16{height:16px;}
.h-24{height:24px;}
.h-30{height:30px;}
.h-36{height:36px;}
.h-40{height:40px;}
.h-48{height:48px;}
.h-60{height:60px;}
.h-72{height:72px;}
.h-96{height:96px;}
.h-120{height:120px;}
.h-144{height:144px;}
.h-168{height:168px;}
.h-192{height:192px;}
.h-216{height:216px;}
.h-240{height:240px;}
.h-264{height:264px;}
.h-288{height:288px;}
.h-100{height:100%;}

.w-1{width:1px;}
.w-2{width:2px;}
.w-3{width:3px;}
.w-4{width:4px;}
.w-6{width:6px;}
.w-8{width:8px;}
.w-12{width:12px;}
.w-16{width:16px;}
.w-24{width:24px;}
.w-30{width:30px;}
.w-36{width:36px;}
.w-40{width:40px;}
.w-48{width:48px;}
.w-60{width:60px;}
.w-72{width:72px;}
.w-96{width:96px;}
.w-120{width:120px;}
.w-144{width:144px;}
.w-168{width:168px;}
.w-192{width:192px;}
.w-216{width:216px;}
.w-240{width:240px;}
.w-264{width:264px;}
.w-288{width:288px;}
.w-100{width:100%;}

.bg-fff{background:#fff;}
.bg-ddd{background:#ddd;}

.color-fff{color:#fff;}

.border-ddd{border:1px solid #ddd;}
.border-eee{border:1px solid #eee;}

.of-visible{overflow:visible;}
.of-hidden{overflow:hidden;}
.of-auto{overflow:auto;}
.ofy-visible{overflow-y:visible;}
.ofy-hidden{overflow-y:hidden;}
.ofy-auto{overflow-y:auto;}
.ofx-visible{overflow-x:visible;}
.ofx-hidden{overflow-x:hidden;}
.ofx-auto{overflow-x:auto;}

.align-v{display:flex; align-items: center;}
.align-h{display: flex; justify-content: center;}
.align-vh{display: flex; align-items: center; justify-content: center;}

.fullscreen{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

.rvd-rotate-card{
  transform:rotateX(180deg);
  opacity:0;
}
.rvd-rotate-card.mounted{
  transform: rotateX(0deg) !important;
  opacity:1;
  transition: 1s;
}

.rvd-loading {
  background: linear-gradient(90deg, #eee, #eee, #eee, #eee, #fff, #eee, #eee, #eee, #eee);
  background-size: 600% 600%;
  animation: rvdloading 1.4s linear;
  animation-iteration-count: infinite;
  animation-timing-function:ease-in-out;
  animation-direction:normal;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform:scale(0.8);
  border-radius:8px;
}

@keyframes rvdloading {
  0%{background-position:0% 0%}
  100%{background-position:100% 0%}
  
}