.aio-input {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    background: none;
    border-radius: 4px;
    color: inherit;
    flex-shrink: 0;
    padding: 6px;
    background:#fff;
    gap:6px;
    font-family:inherit;
}

.aio-input input {
    font-family: inherit;
}

.aio-input input,
.aio-input textarea {
    font-weight: inherit;
}

.aio-input-rtl {
    direction: rtl;
}

.aio-input-popover {
    font-size: 12px;
}

.aio-input-popover-rtl {
    direction: rtl;
}

.aio-input-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}


.aio-input-tabs-content {
    overflow-x: hidden;
}

.aio-input-value {
    display: flex;
    width: 100%;
    position: relative;
    overflow:hidden;
}

.aio-input-subtext {
    display: flex;
    flex: 1;
    font-size: 85%;
    opacity: 0.7;
    align-items: center;
}

.aio-input-before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-input-after {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aio-input-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.aio-input-caret {
    display: flex;
}

.aio-input-popup-container {
    position: fixed;
    z-index: 1000000000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.aio-input-placeholder{
    opacity:0.5;
}

.aio-input-options::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

.aio-input-options::-webkit-scrollbar-track {
    background-color: transparent;
}

.aio-input-options::-webkit-scrollbar-thumb {
    background-color: #e6e7e9;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.aio-input-options::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.aio-input-select-options {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 300px;
}

.aio-input-multiselect-options {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 300px;
}

.aio-input-radio-options {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.aio-input-tabs-options {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.aio-input-option {
    height: 36px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background: none;
    color: inherit;
    cursor: pointer;
    flex-shrink: 0;
    gap:6px;
}
.aio-input-dropdown-option{
    border-bottom: 1px solid #eee;
}
.aio-input-dropdown-option:last-child {
    border-bottom: none;
}



.aio-input-tabs-option {
    justify-content: center;
    overflow: hidden;
    margin: 0 6px;
    padding: 6px;
    height: 100%;
    background: none;
    position: relative;
}

.aio-input-tabs-option:after {
    content: '';
    position: absolute;
    top: calc(100% - 2px);
    width: 0%;
    height: 2px;
    background: dodgerblue;
}

.aio-input-tabs-option.active {
    color: dodgerblue;
}

.aio-input-tabs-option.active:after {
    width: 100%;
    transition: 0.3s;
}

.aio-input-search {
    padding: 0 6px;
    background: #fff;
    box-sizing: border-box;
    top: 0;
    width: 100%;
    height: 36px;
    display: flex;
    border-bottom: 1px solid #ddd;
    align-items: center;
    justify-content: center;
    position: relative;
}

.aio-input-search input {
    outline: 0;
    height: 100%;
    border: none;
    color: inherit;
    background: none;
    width: 100%;
    font-size: inherit;
    padding: 8px;
}

.aio-input-search-icon {
    width: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: inherit;
    height: 36px;
}
.aio-input-file-container{
    width:100%;
}
.aio-input-files {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
}

.aio-input-file {
    display: flex;
    padding:0 6px;
    box-sizing: border-box;
    align-items: center;
    border-bottom:1px solid #ddd;
}
.aio-input-file:last-child {
    border-bottom:none;
}



.aio-input-file-name {
    flex: 1;
    font-size: 90%;
}

.aio-input-file-icon {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

.aio-input.has-label:before {
    content: attr(data-label);
    background: #fff;
    white-space: nowrap;
    position: absolute;
    top: -8px;
    left: 16px;
    padding: 0 3px;
    box-sizing: border-box;
    font-size: 12px;
    height: fit-content;
}

.aio-input-rtl.aio-input.has-label:before {
    right: 16px;
    left: unset;
}

.aio-input-check-out {
    color: dodgerblue;
    border: 1px solid;
    width: 14px;
    height: 14px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    padding:1px;
}
.aio-input-check-out.round {
    border-radius:100%;
}

.aio-input-tabs {
    padding-bottom: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    border:none;
}

.aio-input-radio-option:not(.aio-input-radio-multiple-option) .aio-input-check-out {
    border-radius: 100%;
}

.aio-input-check-in {
    transition: .2s;
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: inherit;
    background:inherit;
    background:dodgerblue;
}
.aio-input-check-out.checked .aio-input-check-in {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: .2s;
}

.aio-input-radio-option:not(.aio-input-radio-multiple-option) .aio-input-check-in {
    border-radius: 100%;
}

.aio-input-multiselect-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.aio-input-tags {
    top: 100%;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    border: 1px solid #ddd;
    overflow: hidden;
    cursor: auto;
}

.aio-input-tag {
    border-radius: 36px;
    color: #fff;
    width: fit-content;
    display: flex;
    align-items: center;
    margin: 2px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    cursor: pointer;
    background: dodgerblue;
    font-size: 12px;
}

.aio-input-tag-icon {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    color: inherit;
    position: relative;
}

.aio-input-tag-text {
    flex: 1;
    overflow: hidden;
}

.aio-input-radio {
    width: 100%;
}
.aio-input-radio-subtext {
    padding: 0 12px;
}
.aio-input-tabs::-webkit-scrollbar {
    /* display: none; */
}

.aio-input-text input {
    border: none;
    width: 100%;
    background: none;
    outline: none;
    height: 100%;
    color: inherit;
}

.aio-input-number input {
    border: none;
    width: 100%;
    background: none;
    outline: none;
    height: 100%;
    color: inherit;
}

.aio-input-password input {
    border: none;
    width: 100%;
    background: none;
    outline: none;
    width: 100%;
    color: inherit;
}

.aio-input-password {
    height: 36px;
}

.aio-input-password input {
    text-align: center;
}

.aio-input-text {
    width: 100%;
}

.aio-input-color {
    padding: 0;
}

.aio-input-slider {
    width: 100%;
}

.aio-input-slider-horizontal {
    height: 36px;
}

.aio-input-slider-vertical {
    width: 36px;
    height: 100%;
}

.aio-input-slider-vertical .aio-input-slider-content {
    height: 100%;
}

.aio-input-slider-vertical .aio-input-slider-value {
    height: 100%;
}
.aio-input-slider-value{
    overflow:visible;
}
.aio-input-number {
    height: 36px;
}

.aio-input-textarea {
    height: 60px;
}

.aio-input-radio {
    height: unset;
}

.aio-input-textarea textarea {
    border: none;
    width: 100%;
    background: none;
    outline: none;
    width: 100%;
    height: 100%;
    padding: 6px 0;
    color: inherit;
    box-sizing: border-box;
}

.aio-input-text-subtext,
.aio-input-password-subtext,
.aio-input-number-subtext,
.aio-input-textarea-subtext,
.aio-input-slider-subtext {
    top: 100%;
}

.aio-input-text,
.aio-input-password,
.aio-input-number,
.aio-input-textarea,
.aio-input-slider {
    padding: 0 6px;
}

.aio-input-text-value {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aio-input-color input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.aio-input-color img {
    display: none;
}

.aio-input-text-value,
.aio-input-number-value {
    height: 100%;
}

.aio-input-color input::-webkit-color-swatch {
    border: none;
    padding: 0;
}

.aio-input-slider .aio-slider {
    padding: 0 12px;
}


.aio-input-slider-value {
    height: 100%;
}

.aio-input-textarea textarea {
    font-family: inherit !important;
    padding: 6px;
}

.aio-input-form {
    width: 100%;
    font-size: 14px;
}

.aio-input-form-rtl {
    direction: rtl;
}

.aio-input-form-label {
    font-size: 85%;
    margin-bottom: 6px;
    padding:0 6px;
}

.aio-input-form-body {
    padding: 12px;
    overflow-y: auto;
}

.aio-input-form-error {
    color: red;
    font-size: 10px;
    justify-content: flex-end;
}

.aio-input-form-item {
    overflow: visible;
    margin-bottom: 12px;
}

.aio-input-form-footer {
    border-top: 1px solid #ddd;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: end;
    height: 48px;
}

.aio-input-form-footer-button {
    height: 36px;
    padding: 0 24px;
    margin: 0 6px;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 6px;
    background: none;
}

.aio-input-form-footer-button:disabled {
    cursor: not-allowed;
    opacity: 0.3;
}

.aio-input-form-submit-button {
    background: dodgerblue;
    color: #fff;
    border: none;
}

.aio-input-form-header {
    border-bottom: 1px solid #ddd;
    display: flex;
    padding-left: 12px;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
}

.aio-input-form-rtl .aio-input-form-header {
    padding: 0;
    padding-right: 12px;
}

.aio-input-form-close-icon {
    height: 100%;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-input-form-title {
    font-size: 120%;
    font-weight: bold;
}

.aio-input-form-subtitle {
    font-size: 90%;
    opacity: 0.5;
    font-weight: bold;
}

.aio-input-form .aio-input {
    width: 100%;
    border: 1px solid #ddd;
    min-height: 30px;
}




.aio-input-table {
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fff;
    color: #666;
}

.aio-input-table .aio-input {
    color: inherit;
}

.aio-input-table-unit {
    width: 100%;
    flex: 1;
    overflow: auto;
}

.aio-input-table-header {
    top: 0;
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    z-index: 10;
    background: #f8f8f8;
    box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.1);
    min-width: fit-content;
}

.aio-input-table-title {
    padding: 0 12px;
    font-weight: bold;
    height: 36px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    overflow: hidden;
}

.aio-input-table-title-justify {
    padding: 0;
    justify-content: center;
}

.aio-input-table-row {
    display: flex;
    min-width: fit-content
}

.aio-input-table-cell {
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    min-height: 24px;
}

.aio-input-table-cell .aio-input-container {
    width: 100%;
}

.aio-input-table-cell .aio-input {
    width: 100%;
    background: none;
    border: 1px solid transparent;
    border-radius: 0;
    background: none;
}

.aio-input-table .aio-input-text {
    height: 100%;
}

.aio-input-table-cell .aio-input input {
    padding: 0;
    background: none;
}

.aio-input-table-cell-justify {
    padding: 0;
    justify-content: center;
}

.aio-input-table-cell-justify .aio-input input {
    text-align: center;
}

.aio-input-table-toolbar {
    left: 0;
    display: flex;
    height: 36px;
    width: 100%;
    align-items: center;
    background: #f8f8f8;
    z-index: 100;
}

.aio-input-table-toolbar-content {
    font-weight: bold;
    padding: 0 12px;
    height: 100%;
    display: flex;
    align-items: center;
}

.aio-input-table-toolbar-icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    border: none;
    background:none;
}
.aio-input-table-toolbar-popover-header{
    padding:6px;
    min-height:unset;
}

.aio-input-table-remove {
    border: none;
    width: 36px;
    background: none;
    color: inherit;
}

.aio-input-table-unit::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

.aio-input-table-unit::-webkit-scrollbar-track {
    background-color: transparent;
}

.aio-input-table-unit::-webkit-scrollbar-thumb {
    background-color: #cdd4e0;
    border-radius: 20px;
    border: 1px solid transparent;
    background-clip: content-box;
}

.aio-input-table-unit::-webkit-scrollbar-thumb {
    background-color: #b1b9ca;
}

.aio-input-table-unit::-webkit-scrollbar-thumb:hover {
    background-color: #6f7888;
}

.aio-input-table-border-h {
    height: 1px;
    background: #ddd;
    flex-shrink: 0;
}

.aio-input-table-border-v {
    width: 1px;
    background: #ddd;
    flex-shrink: 0;
}

.aio-input-table-search {
    flex: 1;
    height: 100%;
    padding: 6px;
    box-sizing: border-box;
}

.aio-input-table-search .aio-input {
    background: #fff;
    border: none;
}

.aio-input-table-paging {
    padding: 6px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #ddd;
}

.aio-input-table-paging-button {
    border: 1px solid #ddd;
    background: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 0 3px;
    opacity: .5;
}

.aio-input-table-paging-button-hidden {
    opacity: 0;
}

.aio-input-table-paging-size {
    width: 50px;
}

.aio-input-table-paging-button.active {
    border: 1px solid dodgerblue;
    color: #fff;
    background: dodgerblue;
    opacity: 1;
}

.aio-input-datepicker-today {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: dodgerblue;
    color: #fff;
}

.aio-input-datepicker-calendar {
    user-select: none;
    -webkit-user-select: none;
    direction: ltr;
    display: flex;
    flex-direction: column;
    stroke: #333;
}

.aio-input-datepicker-header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    direction: ltr;
}

.aio-input-datepicker-arrow {
    display: flex;
    align-items: center;
    z-index: 1;
    justify-content: center;
    border-radius: 100%;
    stroke: inherit;
}

.aio-input-datepicker-footer {
    display: flex;
    justify-content: flex-end;
    direction: ltr;
}

.aio-input-datepicker-footer button {
    background: none;
    font-weight: bold;
    border: none;
    font-size: inherit;
    cursor: pointer;
    outline: none;
    flex: 1;
    margin: 0 1px;
    color: inherit;
}

.aio-input-datepicker-today div {
    display: flex;
    align-items: center;

}

.aio-input-datepicker-calendar svg {
    cursor: pointer;
}

.aio-input-datepicker-select {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}


.aio-input-datepicker-body {
    display: grid;
    flex: 1 1;
    position: relative;
    box-sizing: border-box;
    padding-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

/* custom scrollbar */
.aio-input-datepicker-calendar select::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

.aio-input-datepicker-calendar select::-webkit-scrollbar-track {
    background-color: transparent;
}

.aio-input-datepicker-calendar select::-webkit-scrollbar-thumb {
    background-color: #e6e7e9;
    border-radius: 20px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.aio-input-datepicker-calendar select::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.aio-input-datepicker-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    outline: none;
    background: #fff;
}

.aio-input-datepicker-cell.aio-input-datepicker-disabled {
    box-shadow: none;
    border-radius: 0;
    background: rgba(128, 128, 128, .2);
    color: #fff;
    cursor: not-allowed !important;
}

.aio-input-datepicker-cell.aio-input-datepicker-active {
    background: dodgerblue;
    color: #fff;
}

.aio-input-datepicker-cell.today {
    border: 1px solid dodgerblue;
}

.aio-input-datepicker-weekday {
    font-weight: bold;
    font-size: 110%;
}

.aio-input-datepicker-container button {
    width: unset !important;
    border: none !important;
    background: none !important;
}

.aio-input-datepicker-cell:not(.aio-input-datepicker-weekday):not(.aio-input-datepicker-space):not(.aio-input-datepicker-disabled):hover {
    position: relative;
    transform: scale(1.2);
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, .3);
    cursor: pointer;
    z-index: 100;
}

.aio-input-datepicker-dropdown {
    background: none;
    color: inherit;
    font-size: inherit;
    padding: 0 3px;
    border: none !important;
    width: unset !important;
}

.aio-slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 12px;
    cursor: pointer;
    height: 50px;
}
.aio-slider.disabled{
    cursor:not-allowed;
}

.aio-slider.horizontal {
    width: 100%;

}

.aio-slider.vertical {
    height: 100%;
    width: 50px;
}

.aio-slider-line {
    position: relative;
    background: #ddd;
    z-index: 10;
}

.aio-slider.horizontal .aio-slider-line {
    height: 2px;
    width: 100%;
}

.aio-slider.vertical .aio-slider-line {
    height: 100%;
    width: 3px;
}

.aio-slider-point-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.aio-slider-point {
    position: absolute;
    width: 12px;
    height: 12px;
    background: dodgerblue;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-slider-value {
    position: absolute;
    white-space: nowrap;
    font-size: 11px;
    top: -26px;
    background: dodgerblue;
    color: #fff;
    padding: 1px 4px;
    border-radius: 3px;
}

.aio-slider-fill-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 10;
}

.aio-slider.horizontal .aio-slider-fill-container {
    height: 100%;
}

.aio-slider.vertical .aio-slider-fill-container {
    width: 100%;
}

.aio-slider-fill {
    position: absolute;

}

.aio-slider-fill-active {
    background: dodgerblue;

}

.aio-slider.horizontal .aio-slider-fill {
    width: 100%;
    height: 2px;
}

.aio-slider.vertical .aio-slider-fill {
    width: 2px;
    height: 100%;
}

.aio-slider-label {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 0;
    height: 0;
    font-size: 10px;
    white-space: nowrap;
    z-index: 100;

}

.aio-slider.horizontal .aio-slider-label {
    top: 34px;
}

.aio-slider.vertical .aio-slider-label {
    left: 34px;
}

.aio-slider-scale {
    position: absolute;
    background: #ddd;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: visible;
    z-index: 10;
}

.aio-slider-scale * {
    flex-shrink: 0;
}

.aio-slider.horizontal .aio-slider-scale {
    height: 10px;
    width: 1px;
}

.aio-slider.vertical .aio-slider-scale {
    width: 10px;
    height: 1px;
}

.aio-slider-value-inline {
    height: 24px;
    top: calc(50% - 12px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    white-space: nowrap;
    color: #fff;
    border-radius: 3px;
}


.ai-style-1 {
    border: 1px solid #ccc;
    background: linear-gradient(to bottom, #fff, #ededed);
    border-radius: 4px;
    box-shadow: 1px 2px 7px 0 #8b8b8b59;
}

.ai-style-1:hover {
    border: 1px solid cornflowerblue;
}

.ai-style-2 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd, sans-serif inherit;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s, background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.ai-style-2:active,
.ai-style-2:focus {
    outline: none;
}

.ai-style-2:hover {
    background-position: -20px -20px;
}

.ai-style-2:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
}

.ai-style-3 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    width: 100%;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.ai-style-3:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.ai-style-3:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.ai-style-3:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

.ai-style-4 {
    background-image: linear-gradient(#0dccea, #0d70ea);
    border: 0;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: Montserrat, sans-serif;
    font-size: .9em;
    margin: 5px;
    padding: 10px 15px;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ai-style-5 {
    appearance: button;
    background-color: transparent;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    column-gap: 1rem;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 100%;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    outline: 2px solid transparent;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.ai-style-5:active {
    background-color: #f3f4f6;
    box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15), 0px 1px 1px rgba(81, 41, 10, 0.15);
    transform: translateY(0.125rem);
}

.ai-style-5:focus {
    box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}

.ai-style-6 {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ai-style-6:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .ai-style-6 {
        padding: 0 2.6rem;
    }
}

.aio-input-list {
    border: 1px solid #ddd;
    position: relative;
    overflow: hidden;
    user-select: none;
    font-size: 26px;
}

.aio-input-list-options {
    position: absolute;
    width: 100%;
    left: 0;
}

.aio-input-list-option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 6px;
    position: relative;
}

.aio-input-list-option.active {
    opacity: 1;
    transform: unset;
}

.aio-input-time-popover {
    background: #fff;
    width: fit-content !important;
    padding: 12px !important;
}

.aio-input-time-popover .aio-input-list {
    border: none;
}

.aio-input-time-popover .aio-input-list:after {
    content: '';
    position: absolute;
    left: 0;
    top: 48px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: 48px;
    pointer-events: none;
}

.aio-input-time-popover .aio-input-list-option {
    font-family: inherit;
}

.aio-input-time-popover .aio-input-list-option:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 1px;
    pointer-events: none;
}

.aio-input-time-popover .aio-input-list-option:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.3);
    width: 100%;
    height: 1px;
    pointer-events: none;
}
.aio-input.disabled .aio-input-option{
    cursor: not-allowed;
    opacity: 0.5;
}
.aio-input-option.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
.aio-input.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
.aio-input:disabled {
    cursor: not-allowed;
}
.aio-input-input input:disabled,.aio-input-input textarea:disabled{
    border: none;
    background: none;
    outline: none;
    width: 100%;
    cursor: not-allowed;
    opacity: 0.5;
}
.aio-input-image-content {
    flex: 1;
    height: 100%;
}
.aio-input-image {
    width: fit-content;
    padding: 0;
    overflow: hidden;
    max-width:100%;
}
.aio-input-image img{
    min-width:60px;
}
.aio-input-image-remove {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    background: rgba(255, 255, 255, 0.3);
}

.aio-input-image-preview {
    position: absolute;
    top: 0;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
}

.aio-input-image-preview-popup {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aio-input-image-placeholder {
    padding: 12px;
    min-width: 60px;
    min-height:60px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.aio-input-image-value {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.aio-input-form .aio-input-image{
    width:fit-content;
    
}
.aio-input-form .aio-input-image .aio-input-file{
    border:none;
}
.aio-input-content-justify{
    flex:none;
    width:fit-content;
}
.aio-input-value-justify{
    flex:none;
    width:fit-content;
}
@import url('https://static.neshan.org/sdk/leaflet/1.4.0/leaflet.css');
.aio-input-map-container{
    width:100%;
    height:240px;
    position: relative;
    overflow:hidden;
    border:1px solid #ddd;
    font-family: inherit;
    min-height:240px;
}
.aio-input-map-container.not-draggable:after{
    content:'';
    position: absolute;
    width: 100%;
    height:100%;
    z-index:1000;
}
.aio-input-map{
    direction: rtl;
}
.leaflet-control{
    display: none;
}
.aio-input-map-footer{
    width:100%;
    z-index:10;
    background:#fff;
    bottom:0;
    width:calc(100% - 2px);
    border:1px solid #ddd;
    overflow:visible !important;
    border-radius:4px;
    padding:12px;
    box-sizing: border-box;
    display:flex;
    border-radius:16px 16px 0 0;
    align-items: center;
    font-family:inherit;
}
.aio-input-map-address{
    width:100%;
    font-size:12px;
    align-items: center;
    text-align: right;
    font-weight: bold;
    flex:1;
}
.aio-input-map-coords{
    width:100%;
    font-size:10px;
    align-items: center;
    text-align: right;
    flex:1;
}
.aio-input-map-submit{
    border:none;
    background:dodgerblue;
    color:#fff;
    width:100%;
    height:30px;
    padding:0 16px;
    box-sizing: border-box;
    border-radius:4px;
    font-family: inherit;
}
.leaflet-marker-icon{
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    background:none;
}
.aio-input-map-marker-text{
    position:absolute;
    top:calc(100% + 16px);
    width:fit-content;
    font-size:14px;
    white-space: nowrap;
}

.aio-input-map-header{
    direction:rtl;
    padding:12px;
    width: calc(100% - 2px);
    left: 0; 
    top: 0;
    box-sizing: border-box;
    z-index: 1000;
    background:#fff;
    box-shadow:0 0 12px 0 rgba(0,0,0,0.4)
}
.aio-input-map-header-open{
    height:100%;
}
.aio-input-map-title{
    font-size:14px;
    flex:1;
    font-weight: bold;
}
.aio-input-map-close{
    width:36px;
}
.aio-input-map-search{
    border:1px solid #ddd;
    margin-top:12px;
    border-radius:4px;   
    color:#666;
}
.aio-input-map-serach-results{
    background: rgba(255,255,255,1);
    padding:12px 0;
    box-sizing: border-box;
    overflow-y:auto;
    margin-top:3px;
    border-radius:4px;
    flex:1;
}
.aio-input-map-search-result{
    padding: 6px 12px;
    box-sizing: border-box;
    font-size:12px;
    justify-content: center;
    border-bottom:1px solid #eee;
}
.aio-input-map-serach-result-subtext{
    font-size:90%;
    color:navy;
}
.aio-input-map-serach-input{
    width: 100%;
    height: 36px;
    box-sizing: border-box;
    border-radius: 0 4px 4px 0;
    font-family: inherit;
    outline: none;
    border: none;
    color:inherit;
}
.aio-input-map-serach-icon{
    background:#fff;
    border-radius:4px 0 0 4px;
    width:36px;
}
.aio-input-map-current-point{
    width:36px;
}
