.aio-input-form{
    width:100%;
    font-size:14px;
}
.aio-input-form-rtl{
    direction:rtl;
}
.aio-input-form-label{
    font-size:85%;
    margin-bottom:6px;
}
.aio-input-form-body{
    padding:12px;
}
.aio-input-form .aio-input{
    width:100%;
}
.aio-input-form-error{
    color:red;
    font-size:10px;
    justify-content: flex-end;
}
.aio-input-form-item{
    overflow:visible;
}
.aio-input-form-footer{
    border-top:1px solid #ddd;
    display:flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: end;
    height:48px;
}
.aio-input-form-footer-button{
    height:36px;
    padding:0 24px;
    margin: 0 6px;
    border:1px solid dodgerblue;
    color:dodgerblue;
    border-radius:6px;
    background:none;
}
.aio-input-form-footer-button:disabled{
    cursor:not-allowed;
    opacity:0.3;
}
.aio-input-form-submit-button{
    background:dodgerblue;
    color:#fff;
    border:none;
}
.aio-input-form-header{
    border-bottom:1px solid #ddd;
    display:flex;
    padding-left:12px;
    align-items: center;
    box-sizing: border-box;
    height:48px;
}
.aio-input-form-rtl .aio-input-form-header{
    padding:0;
    padding-right:12px;
}
.aio-input-form-close-icon{
    height:100%;
    width:36px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.aio-input-form-title{
    font-size:120%;
    font-weight:bold;
}
.aio-input-form-subtitle{
    font-size:90%;
    opacity:0.5;
    font-weight:bold;
}
.aio-input-form .aio-input{
    border:1px solid #ddd;
    min-height:36px;
}
.aio-input-form .aio-input-options{
    max-height:300px;
}