.submit-button {
    width: 100%;
    height: 40px;
    text-align: center;
  }
  
  .submit-button button {
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #1ECD97;
    color: #1ECD97;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .submit-button button:hover {
    color: white;
    background: #1ECD97;
  }
  .submit-button button:active {
    letter-spacing: 2px;
  }
  
  
  .submit-button .onclic {
    width: 40px;
    border-color: #bbbbbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #1ECD97;
    -webkit-animation: rotating 2s 0.25s linear infinite;
            animation: rotating 2s 0.25s linear infinite;
  }
  
  .submit-button .onclic:hover {
    color: #1ECD97;
    background: white;
  }
  
  .submit-button .success {
    font-size: 13px;
    color: white;
    background: #1ECD97;
    border: 2px solid #1ECD97;
  
  }
  .submit-button .error {
    font-size: 13px;
    color: white;
    background: #cd1e1e;
    border: 2px solid #cd1e1e;
  }
  
  @-webkit-keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }