body.aio-button-open {
  overflow: hidden;
}

.aio-button {
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  outline: 0;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  width: fit-content;
  padding: 3px 8px;
  user-select: none;
  -webkit-user-select: none;
  font-size: 12px;
  font-family: inherit;
}

.aio-button:disabled {
  cursor: not-allowed !important;
  opacity: 0.3;
}

.aio-button.rounded {
  border-radius: 100px;
}

.aio-button.rtl {
  direction: rtl;
}

.aio-button-option {
  white-space: nowrap;
  width: 100%;
  border: 0;
  background: none;
  padding: 12px 16px;
  outline: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  color: #111;
  font-size: 14px;
  align-items: center;
}

.aio-button-add {
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: inherit;
  color: inherit;
  padding: 0 12px;
}

.aio-button-search {
  padding: 0 6px;
  background: #fff;
  box-sizing: border-box;
  top: 0;
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ddd;
  align-items: center;
  justify-content: center;
}

.aio-button-search input {
  outline: 0;
  height: 24px;
  border: none;
  color: #666;
  background: none;
  width: 100%;
  font-size: inherit;
  padding: 8px;
}

.aio-button-icon {
  width: 24px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  color: inherit;
}

.aio-button.rtl .aio-button-icon {
  right: unset;
  left: 8px;
}

.aio-button.rtl .aio-button-icon {
  right: unset;
  left: 8px;
}

.aio-button-icon.disabled {
  opacity: 0.5;
}

.aio-button-options {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  outline: none;
}

.aio-button-popup-container {
  position: fixed;
  z-index: 1000000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .1);
}

.aio-button-popup-container.rtl {
  direction: ltr;
}

.aio-button-popup-container.rtl .aio-button-icon {
  right: unset;
  left: 8px;
}

.aio-button-option.disabled {
  opacity: .2;
  cursor: not-allowed;
}

a.aio-button-option {
  width: fill-available;
}

.aio-button-popup {
  position: absolute !important;
  display: flex;
  width: fit-content;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 6px;
  border: 1px solid #d1d3d6;
  user-select: none;
  -webkit-user-select: none;
  outline: none;
}

.aio-button-options::-webkit-scrollbar {
  width: 10px !important;
  height: 10px !important;
}

.aio-button-options::-webkit-scrollbar-track {
  background-color: transparent;
}

.aio-button-options::-webkit-scrollbar-thumb {
  background-color: #e6e7e9;
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.aio-button-options::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.aio-button-gap {
  flex-shrink: 0;
}

.aio-button-check-icon {
  width: 18px;
  height: 18px;
  position: relative;
  flex-shrink: 0;
  border: 2px solid;
}

.aio-button-check-icon.checked {
  background: dodgerblue;
  border-color: dodgerblue;
}

.aio-button-check-icon.checked:before {
  content: '';
  position: absolute;
  width: 4px;
  left: 6px;
  top: 0px;
  height: 12px;
  color: #fff;
  border: 2px solid;
  border-width: 0px 3px 3px 0px;
  transform: rotate(36deg);
}

.aio-button-option:hover {
  background: #97d0ff;
  color: #fff;
}

.aio-button-option.active {
  background: #97d0ff;
  color: #fff;
}

.aio-button-splitter {
  font-size: 80%;
  color: #aaa;
  border-bottom: 1px solid;
  box-sizing: border-box;
  width: 100%;
  padding-left: 16px;
  text-align: left;
}

.aio-button-splitter.rtl {
  padding-left: unset;
  padding-right: 16px;
  text-align: right;
}

.aio-button-backdrop {
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0);
}

.aio-button-badge {
  background: red;
  border-radius: 10px;
  font-size: 80%;
  color: #fff;
  font-weight: bold;
  display: flex;
  min-height: 12px;
  align-items: center;
  bottom: calc(100% - 6px);
  padding: 1px 4px;
}

.aio-button.rtl .aio-button-badge {
  margin-right: 6px;
}

.aio-button.ltr .aio-button-badge {
  margin-left: 6px;
}

.aio-button-caret {
  width: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aio-button.ltr .aio-button-caret {
  margin-left: 6px;
}

.aio-button.rtl .aio-button-caret {
  margin-right: 6px;
}

.aio-button-caret:after {
  content: '';
  border-top: 5px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;

}

.aio-button-multiselect {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.aio-button-multiselect .aio-button {
  width: 100% !important;
}

.aio-button-tags {
  top: 100%;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding: 6px;
  border: 1px solid #ddd;
  overflow: hidden;
  cursor: auto;
}

.aio-button-tags.rtl {
  direction: rtl;
}

.aio-button-tag {
  border-radius: 36px;
  color: #fff;
  width: fit-content;
  display: flex;
  align-items: center;
  margin: 2px;
  overflow: hidden;
  white-space: nowrap;
  max-width: 100%;
  cursor: pointer;
  background: dodgerblue;
  font-size: 12px;
}

.aio-button-tag.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.aio-button-tag-icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  color: inherit;
  position: relative;
}

.aio-button-tag-text {
  flex: 1;
  overflow: hidden;
}

.aio-button-radio {
  display: flex;
  color: #666;
  justify-content: flex-start;
  font-size: 12px;
  flex-wrap: wrap;
  position: relative;
}

.aio-button-radio.rtl {
  direction: rtl;
}

.aio-button-radio-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 12px;
  overflow: hidden;
  max-width: 100%;
  min-width: fit-content;
  box-sizing: border-box;
  outline: none;
  font-size: 12px;
}

.aio-button-checkbox {
  padding: 0;
  width: fit-content;
}

.aio-button-radio-option.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.aio-button-text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: fit-content;
  flex-shrink: 0;
}

.aio-button-has-subtext {
  display: flex;
  align-items: flex-start;
  justify-content: start;
}

.aio-button-subtext {
  font-size: 85%;
  opacity: 0.6;
}

.aio-button-tabs {
  display: flex;
  color: #666;
  width: 100%;
  height: 36px;
  font-size: 12px;
  flex-wrap: nowrap;
  position: relative;
  padding: 0 12px;
  overflow-x: auto;
  box-sizing: border-box;
  align-items: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.aio-button-tabs::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.aio-button-tabs {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.aio-button-tabs-option {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  margin: 0 6px;
  padding: 0 6px;
  height: 100%;
  position: relative;
}

.aio-button-tabs-option:after {
  content: '';
  position: absolute;
  top: calc(100% - 2px);
  width: 0%;
  height: 2px;
  background: dodgerblue;

}

.aio-button-tabs-option.active {
  color: dodgerblue;
}

.aio-button-tabs-option.active:after {
  width: 100%;
  transition: 0.3s;
}

.aio-button-check-out {
  color: dodgerblue;
  border: 2px solid;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
}

.aio-button-check-in {
  transition: .2s;
  width: 0;
  height: 0;
  opacity: 0;
}

.aio-button-check-out.checked .aio-button-check-in {
  background: dodgerblue;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  opacity: 1;
  transition: .2s;
}

.aio-button-check-out.round {
  border-radius: 100%;
}

.aio-button-check-in.round {
  border-radius: 100%;
}

.aio-button-radio-badge {
  width: 0px;
  height: 0px;
  top: -12px;
  position: absolute;
  color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aio-button-radio-badge div {
  flex: 1;
}

.flip-button {
  opacity: 1;
  outline: 0;
  position: relative;
  font-family: "Open Sans", inherit;
  font-weight: bold;
  border: none;
  padding: 0;
  cursor: pointer;
  height: 36px;
}

.flip-button.flip-button-hover .flip-button-after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}

.flip-button.flip-button-hover .flip-button-before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}

.flip-button .flip-button-after {
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  transition: 0.4s;
  position: absolute;
  height: 100%;
  transform: translateY(-50%) rotateX(90deg);
}

.flip-button .flip-button-before {
  top: 0;
  left: 0;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  height: 100%;
  transition: 0.4s;
  position: relative;
  transform: translateY(0) rotateX(0);
}