  .aio-input{
    box-sizing: border-box;
    position:relative;
    background:#fff;
    border:1px solid #ddd;
    border-radius:4px;
    height:36px;
    font-family:inherit;
    display:flex;
    align-items: center;
    font-size:inherit;
    width:100%;
  }
  .aio-input-color{
    padding:0 !important;
    margin:0 !important;
  }
  .aio-input:hover{
    border: 1px solid #70c0ff;
    box-shadow: 0 0 5px 0 #70c0ff;
  }
  .aio-input:before{
    content:attr(data-label);
    background:#fff;
    position:absolute;
    top:-8px;
    left:16px;
    padding:0 3px;
    box-sizing: border-box;
    font-size:11px;
    height:fit-content;
    color:#888;
  }
  .aio-input-textarea{
    height:fit-content;
  }
  .aio-input-textarea textarea{
    border:none;
    width:100%;
    padding:12px;
    box-sizing: border-box;
    resize:vertical;
    outline:none;
    font-family:inherit;
    flex:1;
  }
  .aio-input-value-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
  }
  .aio-input input{
    border:none;
    background:none;
    width:100%;
    margin:0;
    padding:0 12px;
    box-sizing: border-box;
    height:100%;
    outline:none;
    display:flex;
    align-items: center;
    flex:1;
    font-family:inherit;
    font-size:inherit;
  }
  .aio-input .aio-input-value{
    border:none;
    background:none;
    width:100%;
    margin:0;
    box-sizing: border-box;
    height:100%;
    outline:none;
    display:flex;
    overflow:hidden;
    align-items: center;
    flex:1;
    font-family:inherit;
    font-size:inherit;
  }
  .aio-input-subtext{
    box-sizing: border-box;
    font-size:90%;
    color:#999;
  }
  .aio-input-before{
    width:fit-content;
    display:flex;
    align-items:center;
    height:100%;
    flex:1;
    max-width: fit-content;
    justify-content: center;
  }
  .aio-input-after{
    width:fit-content;
    display:flex;
    align-items:center;
    height:100%;
    justify-content: center;
  }
  .aio-input-option{
    height:36px;
    display:flex;
    align-items: center;
    padding:0 12px;
    cursor:pointer;
  }
  .aio-input-option:hover{
    background:#f2f2f2;
  }
  .aio-input-caret{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    width:36px;
  }
  /* Chrome, Safari, Edge, Opera */
  input.no-spin::-webkit-outer-spin-button,
  input.no-spin::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input.no-spin[type=number] {
    -moz-appearance: textfield;
  }
  .aio-input-icon-button{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    width:36px;
    background:none;
    border:none;
    cursor:pointer;
  }
  .aio-input-icon-button:disabled{
    cursor:not-allowed;
    opacity:0.4;
  }
  