.vitrin-suggestion-footer{
    justify-content: center;

}
.vitrin-suggestion-footer button{
    min-width:300px !important;
    height:40px;
    border-radius:6px !important;
    background:#3B55A5;
    
}
.vitrin-search-box{
    height:48px;
    text-align:right;
    border-bottom:3px solid #eff1ee;
}
.vitrin-serach-popup-header{
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.3) !important;
}