.vitrin-suggestion-footer{
    justify-content: center;

}
.vitrin-suggestion-footer button{
    min-width:300px !important;
    height:40px;
    border-radius:6px !important;
    background:#3B55A5;
    
}
.vitrin-search-box{
    height:48px;
    text-align:right;
    border-bottom:3px solid #eff1ee;
}
.vitrin-serach-popup-header{
    box-shadow: 0 0 12px 1px rgba(0,0,0,0.3) !important;
}
body {
    margin: 0;
    font-family: system-ui, sans-serif;
    color: black;
    background-color: white;
    direction:rtl;
  }
  .categories-popup{
    user-select:none;
    height:100%;
    width:100%;
    left:0;
    top:0;
    position:absolute;
  }
  .categories-level-0{
    width:100px; 
    overflow-y:auto;
  }
  .categories-level-0-item{
    padding:6px;
    min-height:90px;
    box-sizing: border-box;
    border-bottom:1px solid #ccc;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight:bold;
    background:#e2e6ff;
  }
  .categories-level-0-item.active{
    background:#fff;
    color:#5778db;
    border-bottom:3px solid;
  }
  .categories-level-0-item-text{
    text-align: center;
    font-size:12px
  }
  .categories-level-1{
    overflow-y:auto;
  }
  .categories-level-1-item{
    border-bottom:1px solid #ddd;
    height:48px;
    font-weight:bold;
    font-size:12px;
    padding:0 6px;
  }
  .categories-level-2-item{
    border-bottom:1px solid #ddd;
    height:48px;
    font-weight:bold;
    font-size:12px;
    padding:0 6px;
    background:#eeeef7;
    color:#5778db;
  }
  .categories-level-2-item.is-root{
    border-bottom:1px solid #ddd;
    height:48px;
    font-size:14px;
    padding:0 6px;
    background:#fff;
    color:#5778db;
  }
  .vitrin-card-list-exist{
    color:#00fa53;
    font-Size:10px;
  }
  .vitrin-card-list-not-exist{
    background:#3B55A5;
    color:#fff;
    font-size:10px;
    padding:0 6px;
    border-radius:4px;
  }
  .v-product-card{
    padding:12px;
    border-bottom:1px solid #ddd;
  }
  .v-product-card-name{
    font-size:12px;
    font-weight: bold;
  }
  .v-product-card-price{
    font-size:12px;
    gap:1px;
    font-weight: bold;
    color:#000;
  }
  .v-product-card-no-price{
    color:red;
  }
  .v-product-card-unit{
    font-size:80%;
    opacity:0.8;
    font-weight: normal;
  }
  .v-product-card-image{

  }
  .v-product-card-image img{
    max-height:72px;
  }
  .v-product-card-add-button{
    color:#3B55A5;
    background:none;
    border:1px solid;
    border-radius:4px;
    font-size:12px;
    font-weight:bold;
    min-width:94px;

  }
  .v-product-page-add-button{
    background:#3B55A5;
    color:#fff;
    border:none;
    border-radius:4px;
    font-size:10px;
    min-width:94px;

  }
  .v-product-page-add-button.selected{
    background:#fff;
    color:#2BBA8F;
    border:1px solid;
    border-radius:4px;
    font-size:12px;
    font-weight:bold;

  }
  .v-product-card-price-problem{
    font-size:12px;
    background:none;
    border:none;
  }
  .v-product-card-variants{
    padding:6px;
    border:1px dashed #aaa;
    margin-top:12px;
    border-radius:12px;
  }
  .v-product-card-options{
    font-size:10px;
    
  }
  .v-product-card-variants-label{
    color:#2BBA8F;
    font-size:12px;
  }
  .v-product-card-options-bullet{
    width:8px;
    height:8px;
    background:#aaa;
    border-radius:100%;
  }
  .v-product-page-card{
    padding:12px;
    border:1px dashed #aaa;
    border-radius:12px; 
    margin:0 6px;
  }
  .v-product-card-variant-option-name{
    opacity:0.7;
  }
  .v-product-card-variant-option-value{
    font-weight: bold;
  }