:root{
    --bo-color-1:#222c40;
    --bo-color-2:#394d62;
    --bo-color-3:#394453;
    --bo-color-4:#6b92b9;
    --bo-color-5:#848a92;
    --bo-color-6:#23486d;
    --bo-color-disabled:#c0cad4;
}
.back-office{
    background: var(--bo-color-1);
    height: 100%;
}
.back-office-primary-tabs{
    background:var(--bo-color-3) !important;
    color:var(--bo-color-5) !important;
    font-size:12px !important;
    padding-bottom:0;
    border-radius:0 !important;
}
.back-office-primary-tabs .aio-input-tabs-option{
    margin:0 1px;
    padding:6px;
    color:#fff;
}
.back-office-primary-tabs .aio-input-tabs-option.active{
    background: var(--bo-color-1);
    color:#fff;
    border-radius:6px 6px 0 0;
}
.back-office-primary-tabs .aio-input-tabs-option.active:after{
    display:none;
}
.back-office-secondary-tabs{
    background:var(--bo-color-1) !important;
    color:var(--bo-color-5) !important;
    padding:6px !important;
    font-size:12px;
}
.back-office-secondary-tabs .aio-input-tabs-option{
    margin:0 1px;
    padding:0 6px;
    color:#fff;
    background:var(--bo-color-2);
    border-radius:4px;
}
.back-office-secondary-tabs .aio-input-tabs-option.active{
    background:orange;
    color:#fff;
}
.back-office-secondary-tabs .aio-input-tabs-option.active:after{
    display:none;
}
.back-office-panel{
    background: var(--bo-color-1);
    margin:12px;
    font-size:10px;
    margin-bottom:0;
    border:1px solid var(--bo-color-2);
    color:#fff;   
}
.back-office-collapse{
    font-size:12px;
    font-weight: bold;
    height:36px;
    background:var(--bo-color-2);
    border-radius:6px;
}
.back-office-collapse-open{
    border-radius:6px 6px 0 0;
}
.back-office-form-setting{
    background:rgba(0,0,0,0.1);
    border-radius:0 0 6px 6px;
    border-top:none;
    color:#fff;
    padding:0 !important;
}
.back-office-panel .aio-form-label{
    color:var(--bo-color-4);
}
.back-office-panel .aio-button-radio-option{
    border:none;
   
}
.back-office-panel .aio-form-row{
    margin-bottom: 12px;
   
}
.back-office .aio-input-form .aio-input{
    border:1px solid var(--bo-color-2);
    background:none;
    border:1px solid var(--bo-color-2);
    color:#fff;
}
.back-office-image{
    border:1px dashed var(--bo-color-2);
    width:100%;
}
.back-office-form-setting .aio-input-tags{
    border:1px solid var(--bo-color-2);
    border-top:none;
}
.back-office .aio-input-table{
    background:var(--bo-color-1);
    border:none;
    height: 100%;
    color:#fff;
}
.back-office-table-badge{
    background:var(--bo-color-3);
    color:#fff;
    padding:0 3px;
}
.back-office .aio-input-table-remove{
    background:rgba(255,255,255,0.03) !important;
}
.back-office .aio-input-table-cell{
    background:rgba(255,255,255,0.03);
}
.back-office .aio-input-table-header{
    background:var(--bo-color-1);
    height:36px !important;
}
.back-office .aio-input-table-toolbar{
    background:var(--bo-color-1);
    height:36px !important;
}
.back-office .aio-input-table-title{
    background:none;
    height:36px !important;
}
.back-office .aio-input-table-border-h,.back-office .aio-input-table-border-v{
    background:var(--bo-color-2)
}
.back-office-content{
    margin:12px;
    margin-top:0;
}
.back-office-content-toolbar{
    background: var(--bo-color-1);
    padding:6px 0;
    padding-bottom:12px;
    padding-top:12px;
}

.back-office-splitter{
    padding:0 12px;
    margin:0 12px;
    font-size:14px;
    font-weight: bold;
    color:var(--bo-color-4);
    background: var(--bo-color-2);
    border-radius:4px;
    color:#fff;
}

.back-office-header{
    color:#fff;
    padding-right:12px;
}
.back-office-submit-button{
    width:100%;
    height:36px;
    border:none;
    border-radius: 4px;
    background:orange;
    color:#fff;
    margin:12px;
    margin-top:0;
    margin-bottom:24px;

}

.back-office-content-item{
    background:rgba(0,0,0,0.1);
    color:#fff;
    text-align:right;
}
.back-office-content .aio-input-select{
    background:var(--bo-color-6);
    height:30px;
    color:#fff;
    border-radius:4px;
    font-size:12px;
    width:100%;
}
.back-office-content .aio-input-select-options{
    border:none;
    border-radius:4px;
    max-height:300px !important;
    
}
.back-office .aio-input-select-option,.back-office .aio-input-multiselect-option{
    background:var(--bo-color-2);
    color:#fff;
    height:30px;
    font-size:12px;
    width:100%;
}
.back-office .aio-input-select-option.disabled,.back-office .aio-input-multiselect-option.disabled{
    background:#324354;
    opacity:1;
    color:#4f6579;
    height:30px;
    font-size:12px;
    width:100%;
}
.back-office-content-activity{
    color:#fff;
    background: var(--bo-color-6);
    border-radius:4px;
}
.back-office-link-to{
    border:1px solid var(--bo-color-5);
    background:none !important
}
.back-office .aio-input-tag{
    background: var(--bo-color-6);
    font-size:10px;
}
.back-office .aio-button-check-out{
    border:1px solid var(--bo-color-6) !important
}
.back-office .aio-button-check-in{
    background:var(--bo-color-6) !important
}
.back-office-form-setting .aio-input-form-body{
    padding:6px !important;
}

.back-office-app-setting-item{
    margin:12px;
    padding:12px;
    border-radius:4px;
    background:rgba(0,0,0,0.1);
}
.back-office-price-list-toolbar{
    padding:12px;
    margin:0 12px;
    border-radius:12px;
    border:2px dashed var(--bo-color-2);
}
.back-office-price-list-toolbar input{
    background:var(--bo-color-2);
    border:none;
    height:30px;
    outline:none;
    color:#fff;
}
.back-office .aio-input-form-body{
    padding:0;
}
.back-office .aio-input-form .aio-input-checkbox{
    border:none;
}
.back-office-price-list-toolbar label{
    background: var(--bo-color-4);
    color: #fff;
    height:30px;
    border-radius: 4px;
    font-size: 12px;
    margin-left: 6px;
}
.back-office-price-list-toolbar .aio-input-files{
    border:none;
    color:#fff;
    white-space: nowrap;
    font-size:12px;
}

.back-office-add-button{
    background:var(--bo-color-6);
    padding:0 6px;
    border-radius:4px;
    font-size:12px;
}


.back-office-add-button-2{
    border:none;
    background:var(--bo-color-4);
    color:#fff;
    border-radius:4px;
    font-size:12px;
}
.back-office-input{
    border:none;
    background:var(--bo-color-2);
    border-radius:4px;
    padding:0 6px;
    color:#fff;
}
.aio-input.back-office-input{
    border:none;
    background:var(--bo-color-2);
    border-radius:4px;
    padding:0 6px;
    color:#fff;
}
.back-office-access-card{
    margin:12px;
    margin-bottom:0;
    font-size:12px;
    border-radius:4px;
    border:1px solid var(--bo-color-2)
}
.back-office-access-card-header{
    background: var(--bo-color-2);
    padding-right: 12px;
    height:24px;
}
.back-office-access-card-body{
    
}
.back-office-access-card-row{
    background:rgba(0,0,0,0.2);
    margin:1px;
    font-size:10px;
    padding-right:6px;
}
.back-office-price-list-card{
    padding:12px;
    border-radius:4px;
    background:var(--bo-color-2);
    color:#fff;
    margin:0 12px;
}
.back-office-form-setting .aio-input-form-inline-label{
    width:130px !important;
    text-align: right;
    font-size:12px;
}
.back-office .aio-input-search{
    background: var(--bo-color-2);
    color:#fff;
    border-bottom:0;
}
.back-office .aio-input-options::-webkit-scrollbar-track {
    background-color: var(--bo-color-2);
}
.aio-input.back-office-button{
    background:var(--bo-color-2);
    color:#fff;
    border:none;
    border-radius:6px;
    padding: 0 12px;
}
.back-office .aio-input-select-option{
    border-bottom:1px solid var(--bo-color-2);
}
.back-office .aio-input-multiselect-option{
    border-bottom:1px solid var(--bo-color-2);
}
.back-office .aio-input-select-options{
    border:none;
}
.back-office .aio-input-multiselect-options{
    border:none;
}
.back-office .aio-input-popover{
    background:none;
}
.back-office .aio-input-popover .aio-popup-body{
    background:none !important;
}
.back-office-cachebutton{
    background: #23486d;
    color: #fff;
    border: none;
    border-radius: 6px;
}
.back-office-cachebutton.active{
    background: green;
}
.back-office .aio-input-form .aio-input-table-cell{
    padding:0 !important
}
.back-office .aio-input-form .aio-input-table-cell .aio-input{
    border:none !important;
    padding:0 !important;
}
.back-office .aio-input-form .aio-input-table{
    border:1px solid var(--bo-color-2) !important;
}
.back-office .aio-input-form .aio-input-table textarea{
    font-size: 10px;
}