.taxon-card{
    margin:6px;
    overflow:hidden;
    background:#dbe5e7;
}
.taxon-card-header{
    font-size:12px;
    font-weight:bold;
    color:#666;
    height:36px;
}
.taxon-card-footer{
    position: relative;
    overflow:visible !important;
    border-top:2px dotted #b7cbde;
    
}
.taxon-card-footer:before{
    content:'';
    position: absolute;
    left:calc(0% - 16px);
    background:#f2f2f2;
    border:2px dotted #b7cbde;
    top:-15px;
    width:24px;
    height:24px;
    border-radius:100%;
}

.taxon-card-footer:after{
    content:'';
    position: absolute;
    left:calc(100% - 12px);
    background:#f2f2f2;
    border:2px dotted #b7cbde;
    top:-15px;
    width:24px;
    height:24px;
    border-radius:100%;
}
.taxon-card-group-discount{
    font-size:10px;
    color: orange;
    padding:6px 12px;
    padding-bottom:0;
}
.taxon-card-range{
    font-size:10px;
    padding: 3px 6px;
}
.regular-card{
    margin-bottom:6px;
}
.taxon-card .regular-card{
    box-shadow: none !important;
}
.product-count-button{
    color: dodgerblue;
    width: 40px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0;
}
.product-count-input{
    text-align: center;
    width:40px;
    height:30px;
    margin:3px;
    font-size:16px;
    line-height:30px;
}
.product-count-button.disabled{
    background: #aaa;
    opacity:0.4;
}
.product-delete-button{
    color: #0094D4;
    background:none; 
    width:30px;
    height:30px;
}
.regular-card-variant{
    background: #f7f7f7;
    padding:3px;
}
.regular-card-variant-error{
    font-size:10px;
    color:red;
    gap:2px;
}
.discount-percent{
    color: #fff;
    height:16px;
    padding: 1px 3px;
    font-size: 10px;
    border-radius: 4px; 
}
.count-popup{
    padding:12px;
    width:300px;
}
.count-popup button{
    height:36px;
}
.category-view-description{
    font-family:inherit;
    padding:0;
    margin:0;
    font-size:12px;
    background:#43596e;
    width:100%;
    color:#fff;
    text-align: right;
    padding:12px;
    box-sizing: border-box;
    white-space: break-spaces;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 33%);
    margin-bottom:12px;
}