:root{
	--theme-card-bg:#fff;
	--theme-popup-bg:#f8f8f8;
	--page-bg:#f8f8f8;
	--page-header-bg:#fff;
	--popup-header-bg:#fff;
	--theme-border-radius:12px;
	--theme-card-border-color:#ddd;
	--theme-dark-font-color:#323130;
	--theme-medium-font-color:#605E5C;
	--theme-light-font-color:#A19F9D;
	--theme-box-shadow:0px 2px 8px 0px rgb(153 153 153 / 21%);
	--theme-card-border:none;
	--theme-gap:12px;
	
	/* --theme-popup-bg:red;
	--page-bg:red;
	--page-header-bg:green;
	--popup-header-bg:green;
	--theme-border-radius:16px;
	--theme-card-border-color:yellow; 
	--theme-dark-font-color:pink;
	--theme-medium-font-color:orange;
	--theme-light-font-color:yellow; 
	--theme-card-bg:#333; */
	
	
	
	/*relatives*/
	--theme-border-top-radius:var(--theme-border-radius) var(--theme-border-radius) 0 0;
	--theme-border-bottom-radius:0 0 var(--theme-border-radius) var(--theme-border-radius);
}
.theme-gap{
	margin:var(--theme-gap);
}
.theme-vertical-gap{
	height:var(--theme-gap) !important;
}
.theme-gap-h{
	margin:0 var(--theme-gap);
}
.theme-gap-b{
	margin-bottom:var(--theme-gap);
}
.theme-card-bg{
	background:var(--theme-card-bg);
	border:var(--theme-card-border);
}
.theme-gap-background{
	background:var(--theme-card-border-color);
}
.theme-box-shadow{
	box-shadow:var(--theme-box-shadow);
}
.theme-border-radius{
	border-radius:var(--theme-border-radius);
}
.theme-border-top-radius{
	border-radius: var(--theme-border-top-radius);
}
.theme-border-bottom-radius{
	border-radius: var(--theme-border-bottom-radius);
}
.theme-dark-font-color{
	color:var(--theme-dark-font-color);
}
.theme-medium-font-color{
	color:var(--theme-medium-font-color);
}
.theme-light-font-color{
	color:var(--theme-light-font-color);
}
.theme-link-font-color{
	color:#3B55A5;
	/* color:pink; */
}
.theme-color-fff{
	color:#fff;
}
.page-bg{
	background:var(--page-bg);
}
.aio-popup-body{
	background:var(--theme-popup-bg) !important;
}
.rsa-header{
	background:var(--page-header-bg);
}
.aio-popup-header{
	background:var(--popup-header-bg);
}
.theme-input{
	height:30px;
	border:none;
	color:#605E5C;
	background:#f8f8f8;
}

