.aio-message-alert-container {
    position: fixed;
    z-index: 1000000000000000000000000000000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: inherit;
}

.aio-message-alert {
    position: relative;
    background: #fff;
    width: 90%;
    max-width: 360px;
    border-radius: 12px;
    box-shadow: 5px 8px 11px 0 rgb(0 0 0 / 17%);
}

.aio-message-alert-header {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

.aio-message-alert-body {
    padding: 0 12px;
}

.aio-message-alert-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 12px;
}

.aio-message-alert-subtext {
    font-size: 12px;

}

.aio-message-alert-footer {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 12px;
}

.aio-message-time {
    position: absolute;
    height: 3px;
    width: calc(100% - 24px);
    left: 12px;
    bottom:0;
}

.aio-message-time-bar {
    position: absolute;
    background: red;
    height: 100%;
    left: 0;
}

.aio-message-alert-footer button {
    border: none;
    font-family: inherit;
    background: dodgerblue;
    color: #fff;
    font-size: 14px;
    padding: 3px 12px;
    border-radius: 3px;
}